@import url("https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main {
  width: 100%;
  height: 100vh;
  background: url("./img/kir-simakov-QJE9OiItbAE-unsplash.jpg");
  background-position: center;
}

header {
  font-family: "Syne", sans-serif;
  color: #fff;
  width: 300px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 10px;
}

hr {
  margin: 10px 0;
}
